/* ----- display ----- */
.hidden {
  display: none;
}

.flex {
  display: flex;
}

.space-b {
  justify-content: space-between;
}

.space-a {
  justify-content: space-around;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.t-algin {
  text-align: center;
}

.flex-direct {
  flex-direction: column;
}

/* ----- margin padding width height ----- */
.m-auto {
  margin-left: 20rem;
  margin-right: 20rem;
}

.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.max-w {
  max-width: 80rem;
}

.h-inherit {
  height: inherit;
}

/* ----- position ----- */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* ----- colors ----- */
.color {
  color: rgb(85, 85, 85);
}

.color-w {
  color: white;
}

/* ----- font ----- */

.font-w {
  font-weight: 600;
}

/* ----- box ----- */

.box-shadow {
  box-shadow: 0 4px 6px -1px rgb(0 0 0/0.1), 0 2px 4px -2px rgb(0 0 0/0.1);
}
